* {
  padding: 0;
  box-sizing: inherit; }

html {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 30px; }

header {
  background-color: white;
  text-align: center;
  padding: 20px; }
  header h1 {
    color: #604ab9; }
  header p {
    font-size: 17px; }

.profile-pic_container {
  padding: 20px; }

.profile-picture {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 3px solid #f1f1f1; }

button {
  background-color: #08c1b0;
  /* Green */
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: 30px; }
  button:hover {
    background-color: #09a294; }

.contact-link {
  padding: 15px;
  text-align: center; }

.dark-theme {
  padding: 30px 200px;
  background-image: url(../img/vector-background.png);
  background-size: cover; }
  @media (max-width: 600px) {
    .dark-theme {
      background-color: red; } }

.container {
  background-color: white;
  text-align: center;
  border: 1px solid #e0e0e0;
  padding: 30px;
  margin-bottom: 20px; }

.light-theme {
  padding: 30px 100px; }

.sub-heading {
  text-align: center; }

.project-names {
  padding-bottom: 15px; }

.grid-col {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 50px 50px;
  grid-template-columns: repeat(3, 1fr); }
  @media (max-width: 600px) {
    .grid-col {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 30px; } }

.grid-item {
  max-height: 300px;
  overflow: hidden;
  border: 1px solid #e0dee4; }
  @media (max-width: 600px) {
    .grid-item {
      margin-bottom: 30px; } }

.image-icon {
  width: 60px;
  height: 60px;
  margin: auto; }
  .image-icon img {
    width: 100%; }

.d-image {
  max-width: 100%; }

.text-description {
  text-align: left; }

footer {
  background-color: #e0dee4; }
  footer ul {
    margin: 0; }
